html {
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #BCD8E5;
	width: 90%;
	background-image: url("kukka.png");
   	background-position: right 25px bottom; 
   	background-repeat: no-repeat;
   	font-size: 16px;
   	margin: 0 auto;
}
* {
	font-family: Helvetica, sans-serif;
}

#header {
	height: 90px;
	background: #3687AC;
	padding: 8px;
}
#SiteInfo {
	position: relative;
	float: left;
	margin-right: 12px;
}
img.logo {
	width: 90px;
	border-radius: 50px;
	vertical-align: middle;
}
.SiteTitle {
	font-size: 2rem;
	color: #FFF;
}
.Description {
	font-size: 1.4rem;
	color: cyan;
}
nav {
	height: 30px;
	background: #6FB3D3;
	font-size: 1.6em;
	font-weight: bold;
	padding: 10px;
	color: cyan;
}
nav a {
	color: #FFF;
	text-decoration: none;
}
nav a:hover {
	color: red;
	text-decoration: underline;
}

#content {
	display: flex;
}
section {
	width: 70%;
	height: auto;
	overflow: hidden;
	float: left;
	padding: 15px;
}

aside {
	width: 25%;
	max-width: 300px;
	height: inherit;
	float: left;
	background-color: #3687AC;
	padding: 12px;
}
#sidebar {
	width: 90%;
	max-width: 300px;
	line-height: 1.3em;
	margin-top: 38px;
	color: cyan;
}
#sidebar a {
	text-decoration: none;
	color: #D5F8F8;
}
#sidebar a:hover {
	text-decoration: none;
	color: #FFF;
}

#sidebar a:after {
  	color: #FFF;
  	content: '»';
  	position: relative;
  	opacity: 0;  
  	left: 5px;
  	transition: 0.5s;
}

#sidebar a:hover{

}

#sidebar a:hover:after {
	opacity: 1;
  	right: 10px;
}


footer {
	border-top: 3px dotted #3687AC;
	padding-top: 7px;
	clear: both;
	width: 100%;
	font-size: 1em;
	font-style: italic;
	margin-top: -3px;
	line-height: 1.2em;
}

h1 {
	font-size: 2.2em;
}

h2 {
}
article {
	width:  100%;
	clear: right;
	overflow: hidden;

}

article p {
	padding-top: 6px;
	font-size: 1.2em;
	width: 63%;
	overflow: hidden;
	padding-bottom: 12px;

}
p.wide {
	width: 96%;
}
figure {
  	width: 30%;
  	float: right;
  	text-align: center;
  	font-style: italic;
  	font-size: smaller;
  	text-indent: 0;
  	border: thin silver solid;
  	margin: 0.5em;
  	padding: 0.5em;
}
figure img {
	width: 100%;
}
p img {
	float: right;
	width: 29%;
	padding: 0.5em;
	display: block;
}

